/* Mini-ryoku on Forager (ZMK)
 *
 * Layers:
 *   0 = BASE
 *   1 = FUN
 *   2 = SYM
 */

#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define L_BASE 0
#define L_FUN  1
#define L_SYM  2

/ {
    keymap {
        compatible = "zmk,keymap";

        /* ---------------- BASE LAYER ---------------- */
        base_layer {
            label = "BASE";
            bindings = <
                /* Row 1 */
                &kp Q          &kp W          &kp F          &kp P          &kp B
                &kp J          &kp L          &kp U          &kp Y          &kp BSPC

                /* Row 2 */
                &kp A          &kp R          &kp S          &kp T          &kp G
                &kp M          &kp N          &kp E          &kp I          &kp O

                /* Row 3 (home-row mods) */
                &mt(LGUI, &kp Z)     &mt(LALT, &kp X)    &mt(LCTRL, &kp C)  &mt(LSHIFT, &kp D) &mt(LCTRL, &kp V)
                &kp K                &mt(RSHIFT, &kp H)  &mt(RCTRL, &kp COMMA)  &mt(RALT, &kp DOT) &mt(RGUI, &kp SLASH)

                /* Thumbs */
                &kp SPACE        &lt(L_FUN, &kp TAB)
                &kp ENTER        &sl(L_SYM)
            >;
        };

        /* ---------------- FUNCTION / MOUSE ---------------- */
        fun_layer {
            label = "FUN";
            bindings = <
                /* Row 1 */
                &trans        &kp F4       &kp F5       &kp F6       &kp F9
                &kp F12       &msc(SCROLL_DOWN)  &mmv(MOVE_UP)   &msc(SCROLL_UP) &kp C_VOL_UP

                /* Row 2 */
                &trans        &mkp(MCLK)   &mkp(RCLK)   &mkp(LCLK)   &kp F8
                &kp F11       &mmv(MOVE_LEFT)  &mmv(MOVE_DOWN) &mmv(MOVE_RIGHT) &kp C_VOL_DOWN

                /* Row 3 */
                &kp LGUI      &mt(LALT, &kp F1)   &mt(LCTRL, &kp F2)  &mt(LSHIFT, &kp F3)  &kp F7
                &kp F10       &mt(RSHIFT, &kp C_PREV) &mt(RCTRL, &kp C_PLAY) &mt(RALT, &kp C_NEXT) &mt(RGUI, &kp C_MUTE)

                /* Thumbs (unused) */
                &trans &trans
                &trans &trans
            >;
        };

        /* ---------------- SYMBOLS / NAV ---------------- */
        sym_layer {
            label = "SYM";
            bindings = <
                /* Row 1 */
                &kp LBRC    &kp N5     &kp N6      &kp N7      &kp RBRC
                &kp PG_UP   &kp HOME   &kp UP      &kp END     &kp BSPC

                /* Row 2 */
                &kp SEMICOLON   &kp N9      &kp N0      &kp N1      &kp EQUAL
                &kp PSCRN       &kp LEFT    &kp DOWN    &kp RIGHT   &kp DEL

                /* Row 3 */
                &mt(LGUI, &kp GRAVE)   &mt(LALT, &kp N2)   &mt(LCTRL, &kp N3)  &mt(LSHIFT, &kp N4) &kp BACKSLASH
                &kp PG_DN             &kp RSHIFT          &kp RCTRL          &kp RALT             &kp RGUI

                /* Thumbs */
                &kp SPACE     &kp N8
                &kp ENTER     &trans
            >;
        };
    };

    /* ---------------- COMBOS ---------------- */
    combos {
        compatible = "zmk,combos";

        combo_wf_esc {
            timeout-ms = <25>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_fp_bang {
            timeout-ms = <25>;
            key-positions = <2 3>;
            bindings = <&kp EXCL>;
        };

        combo_lu_minus {
            timeout-ms = <25>;
            key-positions = <6 7>;
            bindings = <&kp MINUS>;
        };

        combo_uy_quote {
            timeout-ms = <25>;
            key-positions = <7 8>;
            bindings = <&kp SQT>;
        };

        combo_wfp_caps {
            timeout-ms = <25>;
            key-positions = <1 2 3>;
            bindings = <&kp CAPS>;
        };

        combo_nei_home {
            timeout-ms = <25>;
            key-positions = <16 17 18>;
            bindings = <&to(L_BASE)>;
        };

        combo_hcp_sym {
            timeout-ms = <25>;
            key-positions = <21 22 23>;
            bindings = <&to(L_SYM)>;
        };

        combo_luy_fun {
            timeout-ms = <25>;
            key-positions = <6 7 8>;
            bindings = <&to(L_FUN)>;
        };
    };
};
