#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>

#define L_BASE 0
#define L_FUN  1
#define L_SYM  2

/ {
    keymap {
        compatible = "zmk,keymap";

        /* ---------------- BASE ---------------- */
        base_layer {
            label = "BASE";
            bindings = <
                /* Row 1 */
                &kp Q      &kp W      &kp F      &kp P      &kp B
                &kp J      &kp L      &kp U      &kp Y      &kp BSPC

                /* Row 2 */
                &kp A      &kp R      &kp S      &kp T      &kp G
                &kp M      &kp N      &kp E      &kp I      &kp O

                /* Row 3 */
                &mt LGUI Z     &mt LALT X     &mt LCTRL C     &mt LSHIFT D     &mt LCTRL V
                &kp K          &mt RSHIFT H   &mt RCTRL COMMA &mt RALT DOT     &mt RGUI SLASH

                /* Thumbs */
                &kp SPACE    &lt L_FUN TAB
                &kp ENTER    &sl L_SYM
            >;
        };

        /* ---------------- FUN ---------------- */
        fun_layer {
            label = "FUN";
            bindings = <
                &trans      &kp F4          &kp F5          &kp F6          &kp F9
                &kp F12     &msc SCROLL_DOWN &mmv MOVE_UP    &msc SCROLL_UP  &kp C_VOL_UP

                &trans      &mkp MCLK       &mkp RCLK       &mkp LCLK       &kp F8
                &kp F11     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &kp C_VOL_DOWN

                &kp LGUI    &mt LALT F1     &mt LCTRL F2    &mt LSHIFT F3   &kp F7
                &kp F10     &mt RSHIFT C_PREV &mt RCTRL C_PLAY &mt RALT C_NEXT &mt RGUI C_MUTE

                &trans &trans
                &trans &trans
            >;
        };

        /* ---------------- SYM ---------------- */
        sym_layer {
            label = "SYM";
            bindings = <
                &kp LBRC     &kp N5      &kp N6      &kp N7      &kp RBRC
                &kp PG_UP    &kp HOME    &kp UP      &kp END     &kp BSPC

                &kp SEMICOLON &kp N9     &kp N0     &kp N1     &kp EQUAL
                &kp PSCRN     &kp LEFT   &kp DOWN   &kp RIGHT  &kp DEL

                &mt LGUI GRAVE   &mt LALT N2   &mt LCTRL N3   &mt LSHIFT N4   &kp BACKSLASH
                &kp PG_DN        &kp RSHIFT    &kp RCTRL      &kp RALT        &kp RGUI

                &kp SPACE   &kp N8
                &kp ENTER   &trans
            >;
        };
    };

    /* ---------------- COMBOS ---------------- */
    combos {
        compatible = "zmk,combos";

        combo_wf_esc {
            timeout-ms = <25>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_fp_bang {
            timeout-ms = <25>;
            key-positions = <2 3>;
            bindings = <&kp EXCL>;
        };

        combo_lu_minus {
            timeout-ms = <25>;
            key-positions = <6 7>;
            bindings = <&kp MINUS>;
        };

        combo_uy_quote {
            timeout-ms = <25>;
            key-positions = <7 8>;
            bindings = <&kp SQT>;
        };

        combo_wfp_caps {
            timeout-ms = <25>;
            key-positions = <1 2 3>;
            bindings = <&kp CAPS>;
        };

        combo_nei_home {
            timeout-ms = <25>;
            key-positions = <16 17 18>;
            bindings = <&to L_BASE>;
        };

        combo_hcp_sym {
            timeout-ms = <25>;
            key-positions = <21 22 23>;
            bindings = <&to L_SYM>;
        };

        combo_luy_fun {
            timeout-ms = <25>;
            key-positions = <6 7 8>;
            bindings = <&to L_FUN>;
        };
    };
};
